
logging:
  level:
    com.rackspace.salus.event.manage: debug
salus:
  event:
    discovery:
      port-strategy:
        host: localhost
        starting-port: 9192
        partitions: 2
  common:
    roles:
      role-to-view:
        # An anonymous role is used for unauthenticated requests.
        # i.e. internal service-to-service requests.
        ROLE_ANONYMOUS: ADMIN
        ROLE_CUSTOMER: PUBLIC
        ROLE_EMPLOYEE: INTERNAL
        ROLE_ENGINEER: ADMIN
        ROLE_IDENTITY_USER_ADMIN: PUBLIC
server:
  port: 8087
spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        generate_statistics: false
    show-sql: true
  datasource:
    username: dev
    password: pass
    url: jdbc:mysql://localhost:3306/default?verifyServerCertificate=false&useSSL=false&requireSSL=false
  kafka:
    listener:
      missing-topics-fatal: false