stream
  |from()
    .measurement('{{measurement}}')
    .groupBy('{{groupBy}}')
{{#labelsAvailable}}
  |where(lambda:
  {{#labels}}
    if(isPresent("{{key}}"), "{{key}}" == '{{value}}', FALSE)
    {{^-last}}
      AND
    {{/-last}}
    {{#-last}}
      )
    {{/-last}}
  {{/labels}}
{{/labelsAvailable}}
  |stateCount(lambda: {{critExpression}})
{{#warnExpression}}
  |stateCount(lambda: {{warnExpression}})
    .as('warn_count')
{{/warnExpression}}
{{#infoExpression}}
  |stateCount(lambda: {{infoExpression}}).as("info_count")
{{/infoExpression}}
  |alert()
    .stateChangesOnly()
    .id('{{alertId}}')
    .details('{{details}}')
{{#infoCount}}
    .info(lambda: {{infoCount}})
{{/infoCount}}
{{#warnCount}}
    .warn(lambda: {{warnCount}})
{{/warnCount}}
    .crit(lambda: {{critCount}})
    .topic('events')