stream
  |from()
    .measurement('{{measurement}}')
    .groupBy('{{groupBy}}')
{{#windowLength}}
  |window()
    .period({{windowLength}}m)
    .every({{windowLength}}m)
{{/windowLength}}
{{#windowFields}}
  |max('{{.}}')
    .as('max_{{.}}')
  |min('{{.}}')
    .as('min_{{.}}')
  |mean('{{.}}')
    .as('avg_{{.}}')
{{/windowFields}}
{{#labelsAvailable}}
  |where(lambda:
  {{#labels}}
    isPresent("{{key}}") AND ("{{key}}" == '{{value}}')
    {{^-last}}
      AND
    {{/-last}}
    {{#-last}}
      )
    {{/-last}}
  {{/labels}}
{{/labelsAvailable}}
{{#joinedEvals}}
  |eval({{joinedEvals}})
    .as({{joinedAs}})
    .keep()
{{/joinedEvals}}
{{#critExpression}}
  |stateDuration(lambda: {{critExpression}})
    .unit(1m)
    .as('crit_count')
{{/critExpression}}
{{#warnExpression}}
  |stateDuration(lambda: {{warnExpression}})
    .unit(1m)
    .as('warn_count')
{{/warnExpression}}
{{#infoExpression}}
  |stateDuration(lambda: {{infoExpression}})
    .unit(1m)
    .as('info_count')
{{/infoExpression}}
  |alert()
    .stateChangesOnly()
    .id('{{alertId}}')
    .details('{{details}}')
{{#infoExpression}}
    .info(lambda: {{infoCount}})
{{/infoExpression}}
{{#warnExpression}}
    .warn(lambda: {{warnCount}})
{{/warnExpression}}
{{#critExpression}}
    .crit(lambda: {{critCount}})
{{/critExpression}}
{{#flapping}}
    .flapping({{flappingLower}}, {{flappingUpper}})
{{/flapping}}
    .history({{history}})
    .topic('events')