stream
  |from()
    .measurement('{{measurement}}')
    .groupBy({{#groupBy}}'{{this}}'{{^-last}}, {{/-last}}{{/groupBy}})
{{#labelsAvailable}}
  |where(lambda:
  {{#labels}}
    isPresent("{{key}}") AND ("{{key}}" == '{{value}}')
    {{^-last}}
      AND
    {{/-last}}
    {{#-last}}
      )
    {{/-last}}
  {{/labels}}
{{/labelsAvailable}}
{{#windowLength}}
  |window()
    .period({{windowLength}}m)
    .every({{windowLength}}m)
{{/windowLength}}
{{#windowFields}}
  |max('{{.}}')
    .as('max_{{.}}')
  |min('{{.}}')
    .as('min_{{.}}')
  |mean('{{.}}')
    .as('avg_{{.}}')
{{/windowFields}}
{{#joinedEvals}}
  |eval({{joinedEvals}})
    .as({{joinedAs}})
    .keep()
{{/joinedEvals}}
{{#derivative}}
  |derivative('{{derivative.metric}}')
    .unit({{derivative.goDuration}})
    .as('{{derivative.as}}')
    {{#derivative.nonNegative}}
    .nonNegative()
    {{/derivative.nonNegative}}
{{/derivative}}
{{#critCount}}
  {{#critExpression}}
  |stateDuration(lambda: {{critExpression}})
    .unit(1m)
    .as('crit_count')
  {{/critExpression}}
{{/critCount}}
{{#warnCount}}
  {{#warnExpression}}
  |stateDuration(lambda: {{warnExpression}})
    .unit(1m)
    .as('warn_count')
  {{/warnExpression}}
{{/warnCount}}
{{#infoCount}}
  {{#infoExpression}}
  |stateDuration(lambda: {{infoExpression}})
    .unit(1m)
    .as('info_count')
  {{/infoExpression}}
{{/infoCount}}
  |alert()
{{#stateChangesOnly}}
    .stateChangesOnly()
{{/stateChangesOnly}}
    .id('{{alertId}}')
{{#messageText}}
    .message('{{messageText}}')
{{/messageText}}
    .details('{{details}}')
{{#infoCount}}
    .info(lambda: {{infoCount}})
{{/infoCount}}
{{^infoCount}}
  {{#infoExpression}}
    .info(lambda: {{infoExpression}})
  {{/infoExpression}}
{{/infoCount}}
{{#warnCount}}
    .warn(lambda: {{warnCount}})
{{/warnCount}}
{{^warnCount}}
  {{#warnExpression}}
    .warn(lambda: {{warnExpression}})
  {{/warnExpression}}
{{/warnCount}}
{{#critCount}}
    .crit(lambda: {{critCount}})
{{/critCount}}
{{^critCount}}
  {{#critExpression}}
    .crit(lambda: {{critExpression}})
  {{/critExpression}}
{{/critCount}}
{{#flapping}}
    .flapping({{flappingLower}}, {{flappingUpper}})
{{/flapping}}
    .history({{history}})
    .topic('{{eventHandlerTopic}}')